:root { 
--cyan_A400:#00d5ff; 
--blue_gray_100_01:#d5d7da; 
--red_500:#f83547; 
--gray_900_19:#10192819; 
--amber_A400:#ffcd00; 
--green_A400:#00f076; 
--teal_600:#00a36d; 
--black_900_01:#020000; 
--black_900_00:#00000000; 
--teal_500:#00b67a; 
--black_900:#000000; 
--deep_orange_600:#e66422; 
--indigo_50_01:#dbddff; 
--gray_200_01:#e7e8e9; 
--deep_purple_A200:#6950f3; 
--gray_900_0f:#0d16190f; 
--gray_600:#757676; 
--gray_400:#bfbfbf; 
--white_A700_6c:#ffffff6c; 
--blue_gray_100:#d3d3d3; 
--gray_500:#acacac; 
--amber_400:#ffc830; 
--blue_gray_400:#878c93; 
--indigo_50:#e7e8ff; 
--gray_900:#0d1619; 
--gray_900_01:#101928; 
--orange_800:#be7507; 
--amber_300:#fbd74c; 
--gray_200:#efefef; 
--gray_300:#dbdce1; 
--gray_100:#f2f2f2; 
--gray_900_1e:#0d16191e; 
--white_A700_63:#ffffff63; 
--gray_100_01:#f2f2f7; 
--white_A700:#ffffff; 
}